/* Component styles are dynamically loaded via JavaScript */
/* Add any EDS-specific Component overrides here if needed */
@import url("../../../platform-blocks/image-block/image-block.min.css");
.image-block.block.lds-layout-container.image-full-width {
  width: 100%;
  display: block;
  padding: 0 !important;
  max-width: none;
}

.image-block.block.lds-layout-container.image-full-width .image-area {
  display: block;
}

.image-block.block.lds-layout-container.enable-square-edges .image-area img {
  border-radius: 0;
}
